.descriptionbox
{
    margin: 120px 170px;
}
.descriptionbox-navigator
{
    display: flex;
}
.descriptionbox-navbox
{
    margin-top: 1.5cm;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid red;
}
.descriptionbox-navbox.fade
{
    background: white;
    color: #555555;
}
.descriptionbox-description
{
    display: flex;
    flex-direction: column;
    gap:25px;
    border: 1px solid red;
    padding: 48px;
    padding-bottom: 70px;
}
.descriptionbox-description p
{
    color: #555555;
    font-size: 23px;
}