/* .footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.footer-logo
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p 
{
    color:black;
    font-size: 46px;
    font-weight: 700;
}
.footer-links
{
    display: flex;
    list-style: none;
    gap:50px;
    color:red;
    font-size: 20px;
}
.footer-links li 
{
    cursor: pointer;
}
.footer-socials-icon
{
    display: flex;
    gap: 50px; 
}
.footer-icons-container
{
    padding: 10px;
    padding-bottom: 6px;
    background:white;
    gap:30px;
}
.footer-copyright
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 100%;
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
}
.footer-copyright hr 
{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: whitesmoke;
}
.footer button 
{
    border-color: transparent;
    color:red;
    font-size: 25px;
    align-items: left;
    font-family: poppins;
} */
.footer {
    margin-top: 2cm;
    width: 60cm;
    background-image: url("D:\sem 3\react project\online bookstore\bookstore\src\Components\Assets\footer_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
    padding-top: 1cm;
  }
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-left: 10cm;
  }
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: red;
    padding: 1rem 0;
  }
  .footer .box-container .box p {
    font-size: 1.5rem;
    color: #333333;
    padding-bottom: .5rem;
  }
  .footer .box-container .box a {
    font-size: 1.4rem;
    color: #333333;
    padding: 1rem 0;
    display: block;
    text-decoration: none;
  }
  .footer .box-container .box #alter
  {
    color:black
  }